body {
    background: #faf8f2;
}

h1,
p {
    font-family: "Caviar Dreams", sans-serif;
}

.botao-faixa {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

.definicoes-icones {
    display: none;
}

/* Main */

main { /*Centraliza tudo*/
    max-width: 1150px;
    margin: 0 auto;
    padding: 24px;
    box-sizing: border-box;
}

#manha {
    border: 1px solid #e0ddd2;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05)
}

#noite {
    border: 1px solid #e0ddd2;
    border-radius: 12px;
    padding: 5px;
}

.produto-1 {
    border: 1px solid #e0ddd2;
    border-radius: 12px;
    padding: 16px;

}

.produto-1 h3 .produto-link {
    color: rgb(78, 131, 119);
    text-decoration: none;
}


.titulo {
  font-weight: bold
}

.etapa {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.numero {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: rgb(78, 131, 119);
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Círculo atrás do sol */
.icone-periodo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgb(121, 214, 183);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Aparência do SVG do periodo */
.icone-periodo svg {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
}

/* Alinhamento do icone com a palavra */
.cabecalho {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avaliacao { /*Alinhamento do icone com o paragrafo*/
    clear: both;
    display: flex;
    align-items: center;
    gap: 6px;
}

.avaliacao p {
    margin: 0;
}

.estrela { /*cor da estrla*/
    fill: #f1f529;
}


#manha,
#noite {
    font-family: "Caviar Dreams", sans-serif;
    flex: 1;
    background: #fff;
    border: 1px solid #e0ddd2;
    border-radius: 24px;
    padding: 12px 28px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    box-sizing: border-box
}

.rotinas {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-top: 24px;
}

.foto-produto {
    float: left;
    margin-right: 12px;
    width: 72px;
    height: 72px;
    border-radius: 12px;
    background: #e8eddc;
}

