:root {
    --branco: #ffffff;
    --cinza: #6b7280;
    --cinza-claro: #e7eeeb;
}

body {
    background-color: var(--corpo);
    color: var(--preto);
    font-family: "Caviar Dreams", sans-serif;
}

/* Nesta página os links do menu não eram exibidos em negrito. */
.questionario .nav-link {
    font-weight: 400;
}

/*CONTEÚDO*/
main {
    width: 100%;
    padding: 4rem 1.5rem;
}

/*FORMULÁRIO*/
form {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 3rem;
    background-color: var(--branco);
    border: 1px solid rgba(78, 131, 119, 0.1);
    border-radius: 1rem;
    box-shadow: 0 10px 35px rgba(46, 87, 76, 0.08);
}

/*TÍTULOS*/
form h1 {
    margin: 0;

    text-align: center;

    font-size: 2.5rem;
    color: var(--realce);
}

form h2 {
    margin: 0.5rem 0 3rem;
    text-align: center;
    font-size: 1.15rem;
    font-weight: normal;
    color: var(--cinza);
}

/*PERGUNTAS*/
form h3 {
    margin-top: 3rem;
    margin-bottom: 1.2rem;
    padding-bottom: 0.6rem;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--cinza-claro);
}

/* Esconde o radio padrão */
form input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* Alternativas */
form label {
    display: block;
    width: 100%;
    margin-bottom: 0.7rem;
    padding: 1rem 1.2rem;
    background-color: var(--branco);
    border: 1px solid var(--cinza-claro);
    border-radius: 0.7rem;
    cursor: pointer;
}

/* Hover */
form label:hover {
    border-color: var(--detalhe);
    background-color: #f5fcf9;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(78, 131, 119, 0.08);
}

/* Bolinha personalizada */
form label::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 0.8rem;
    border: 2px solid #b8c4c0;
    border-radius: 50%;
}

/* Alternativa selecionada */
form input[type="radio"]:checked+label {
    border-color: var(--detalhe2);
    background-color: #eafaf5;
    color: var(--realce);
    font-weight: bold;
    box-shadow: 0 0 0 1px var(--detalhe2);
}

/*FOOTER*/
.logo2 {
    display: block;
    max-width: 100px;
    height: auto;
    margin-bottom: 16px;
}

.rodape {
    position: relative;
    /* necessário para o z-index valer */
    z-index: 1;
    /* fica acima da faixa */
    background: var(--realce);
    padding: 4rem 2rem;
    min-height: 100px;
    /* garante que o conteúdo cubra a faixa por completo */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    /* sombra sutil na borda de sobreposição */
}

.conteudo_rodape {
    max-width: 600px;
    margin: 0 auto;

}

.rodape h1,
.rodape p {
    max-width: 800px;
    font-family: "Caviar Dreams", sans-serif;
}
